# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.env

# Virtual environment
venv/
env/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Data and models
data/
models/
faiss_index.*

# Chainlit
.chainlit/